<!doctype html>
<html>
<head>
<title>Notepad</title>
<script data-main="/js/main" src="/js/lib/require/require.js">
</script>
</head>
<body>
<div id="form"></div>
<div id="notes"></div>
</body>
</html>
